<!DOCTYPE html>
<html>
<head>
    <title>Security Monitoring</title>
    <script>
        function changePage() {
            var selectedPage = document.getElementById("pageSelect").value;
            window.location.href = selectedPage;
        }
    </script>
</head>
<body>
    <h1>Security Monitoring</h1>
    <label for="pageSelect">Select Page:</label>
    <select id="pageSelect" onchange="changePage()">
        <option value="/curfew">Curfew Movement Detector</option>
        <option value="/fence">Fence Jump Detector</option>
        <option value="/fexit">Fire Exit Obstruction Detector</option>
    </select>
</body>
</html>